<style>
    .icon {
        margin-right: 30px;
    }
    
    .btn-flat {
        border-radius: 0px;
    }
</style>
<h4 class="text-center mt-2 font-weight-lighter">This project was created using ng-artisan</h4>
<div class="row justify-content-center mt-4">
    <img src="../assets/Logomark.svg" width="150px" height="150px" class="icon">
    <img src="../assets/angular-icon.svg" width="150px" height="150px">
</div>
<div class="container mt-5">
    <button class="btn btn-success btn-sm btn-flat mb-3" (click)="addRandom()">Add a random</button>
    <span class="d-block font-weight-lighter">List of randoms</span>
    <ul *ngFor="let random of randoms; let i=index" class="mt-2">
        <li class="d-inline mr-3 font-weight-lighter">{{random.description}}</li> <a href="#" (click)="editRandom(random)">Edit</a> <a href="#" class="ml-2 text-danger" (click)="deleteRandom(random,i)">Delete</a>
    </ul>
</div>
<router-outlet></router-outlet>